<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Main Menu</a>
</nav>

<h1>Book Details</h1>

<p th:text="${'Title: ' + book.getTitle()}">VALUE</p>
<p th:text="${'Author: ' + book.getAuthor()}">VALUE</p>
<p th:text="${'Year: ' + book.getYear()}">VALUE</p>

<!-- Display the drop-down list only if the book is free (personId is null) -->
<th:block th:if="${book.getPersonId() == null}">
    <form th:method="POST" th:action="@{/books/{id}/assign(id=${book.getId()})}">
        <label for="person">Assign Book to:</label>
        <select id="person" name="person">
            <option th:each="person : ${persons}" th:value="${person.getId()}"
                    th:text="${person.getName() + ' '
                    + person.getPatronymic() + ' '
                    + person.getSurname() }"></option>
        </select>
        <input type="submit" value="Assign Book"/>
    </form>
    <h4>The library book is in and free</h4>
</th:block>

<!-- Display this text if the book is not free -->
<p th:unless="${book.getPersonId() == null}">This book is currently assigned to:
    <span th:text="${assignedPerson.getName() + ' '
    + assignedPerson.getPatronymic() + ' '
    +assignedPerson.getSurname() }"></span>
<form th:method="POST" th:action="@{/books/{id}/release(id=${book.getId()})}">
    <input type="submit" value="Release Book"/>
</form>
</p>

<!-- Link to go back to the list of all books -->
<a href="/books/index">Back to All Books</a>
<hr/>
<br/>
<a th:href="@{/books/{id}/edit(id=${book.getId()})}">Edit</a>
<br/>
<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Delete"/>

</form>
</body>
</html>