<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index Person</title>
</head>
<body>
<h1>A page with a list of all people</h1>

<div th:each="person : ${persons}">
    <a th:href="@{/persons/{id}(id=${person.getId()})}"
       th:text="${person.getSurname() + ' ' + person.getName() +
       ' ' + person.getPatronymic() + ', ' + person.getBirthday()}">user</a>
</div>

<br/>
<hr/>

<a href="/persons/new">Create new person</a>
</body>
</html>